<h2>All Contacts</h2>
<div>
  <% contacts.array.forEach(contact => { %>
  <div>
    <h3><%= contact.name %></h3>
    <p><%= contact.email %></p>
    <p><%= contact.phone %></p>
  </div>
  <% }); %>
</div>
